.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 317px;
  background-color: var(--cl-white);
  overflow: hidden;
}

.sidebar.open {
  z-index: 3;
  box-shadow: 0px 10px 40px rgba(29, 33, 38, 0.13), 0px 1px 2px rgba(29, 33, 38, 0.1);
  transition: all 0.7s ease-in-out;
}

.background {
	position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.3;
	cursor: pointer;
}

.nav {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: flex-start;
  min-height: 250px;
  padding: 1.2rem 4.4rem;
  overflow: hidden;
	user-select: none;
}

.nav a {
  position: relative;
  padding-bottom: 5px;
  font: 600 1.375rem/1.68rem Montserrat, sans-serif;
  color: var(--cl-black);
  text-decoration: none;
  cursor: pointer;
  opacity: 0;
  transform: translateY(30px);
}

.nav_active a {
  opacity: 1;
  transform: translateY(0px);
}

.nav a:first-child {
  transition: all 0.7s 0.2s ease-in-out;
}
.nav a:nth-child(2) {
  transition: all 0.7s 0.4s ease-in-out;
}
.nav a:last-child {
  transition: all 0.7s 0.6s ease-in-out;
}

.nav a::before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--cl-default);
  transition: all 0.7s ease-in-out;
}

.nav a:hover::before {
  width: 100%;
}

nav a.active {
  color: var(--cl-default);
}

.close {
  position: absolute;
  top: 22px;
  right: 30px;
  color: var(--cl-black);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.close img {
  width: 15px;
  height: 15px;
}
