.sendForm {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.textarea {
  flex: 0 2 976px;
  min-height: 40px;
  padding: 12px 24px;
  font: 400 1rem/1rem Montserrat, sans-serif;
  color: rgba(0, 0, 0, 0.6);
  background-color: var(--cl-lavender);
  border: none;
  border-radius: 20px;
  outline: none;
  resize: none;
  box-shadow: 0px 1px 2px 0px rgba(29, 33, 38, 0.1), 0px 5px 20px 0px rgba(29, 33, 38, 0.03);
}

.textarea:focus {
  border-color: var(--cl-blue-light);
  box-shadow: 0 0 10px var(--cl-blue-light);
}

.button {
  flex: 0 1 120px;
  height: 40px;
  font-weight: 600;
  color: var(--cl-white);
  text-align: center;
  background-color: var(--cl-default);
  border: none;
  outline: none;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 0 40px 40px var(--cl-default) inset, 0 0 0 0 var(--cl-default);
  transition: 0.2s ease-in-out;
}

.button:hover {
  color: var(--cl-default);
  box-shadow: 0 0 10px 40px var(--cl-white) inset, 0 0 10px 4px var(--cl-blue-light);
}
.button:active {
  color: var(--cl-white);
  box-shadow: 0 0 40px 40px var(--cl-default) inset, 0 0 0 0 var(--cl-default);
}
