.button {
  max-width: 132px;
  width: 100%;
  padding: 5px 24px;
  font: 600 0.875rem/1.25rem Montserrat, sans-serif;
  color: var(--cl-white);
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 200ms ease-in;
}

.default {
  background-color: var(--cl-default);
}

.red {
  background-color: var(--cl-primary);
}

.secondary {
  color: var(--cl-default);
  background-color: var(--cl-secondary);
  border: 1px var(--cl-default) solid;
}

.disabled {
  opacity: 0.5;
  cursor: default;
}

.default:hover {
  background-color: var(--cl-default-hover);
}

.red:hover {
  background-color: var(--cl-primary-hover);
}

.secondary:hover {
  background-color: var(--cl-secondary-hover);
}

.default:active {
  background-color: var(--cl-default-active);
}

.secondary:active {
  background-color: var(--cl-secondary-active);
}

.red:active {
  background-color: var(--cl-primary-active);
}

.button:disabled {
  color: var(--cl-black);
  background-color: var(--cl-blue-steel-dim);
  cursor: not-allowed;
}
